@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", "sans-serif";
}

@layer base {
  body {
    @apply antialiased overflow-hidden;
    font-family: 'Inter', sans-serif;
    background-color: #000000;
  }
}

/* Custom Scrollbar for a premium feel */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}

/* Glassmorphism Utilities */
@layer utilities {
  .glass-panel {
    @apply bg-slate-900/40 backdrop-blur-md border border-slate-700/50 shadow-[0_4px_30px_rgba(0,0,0,0.1)];
  }
}
